* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #6D8F85;
}
main {
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 100px;
    overflow: hidden;
    height: 350px;
    flex-wrap: wrap;
}
main > img {
    flex-basis: 50%;
    height: 400px;
    object-fit: cover;
     object-position: top;
     z-index: 1;
}
div {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    background:#D98E04;
    height: 370px;
    flex-direction: column;
}
div > img {
     width: 25%;  
     height: 50px;
     margin: auto;
     margin-top: 50px;
     margin-bottom: 1px;
     object-fit: cover;
     object-position: center;
     opacity: 0.7; 
}
h1 {
    color: white;
    font-family: "orbitron", sans-serif;
    padding: 2%;
    margin: auto;
    height:fit-content;
}
.Enlace {
    width: 30%;
    margin: auto;
    margin-top: 18px;
}
.Enlace a {
    text-decoration: none;
    color: white;
    font-family: "orbitron", sans-serif;
    height: auto;
    padding: 5%;
    text-align: center;
    background-color: #1B2551;
    border-radius: 10px;
}
p {
    padding: 2%;
    color: white;
    text-align: center;
}
.bottom {
    flex-basis: 120%;
    background-color: #D6CEB6;
    z-index: 10;
    margin-left: -10%;
    transform: rotate(178deg) skew(-10deg, 0deg);
    margin-top: -8%;
}
